.contacts__container {
  display: flex;
  padding-top: 120px;
  margin-bottom: 120px;

  @media (max-width: $desktop-width) {
    margin-bottom: 98px;
    padding: 0 35px;
    padding-top: 100px;
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    padding: 0 15px;
    padding-top: 0;
  }
}

.contacts__wrap {
  max-width: 500px;
  width: 45%;

  @media (max-width: $desktop-width) {
    width: 50%;
    max-width: 324px;
  }

  @media (max-width: $tablet-width) {
    order: -1;
    width: 100%;
    padding-top: 58px;
  }
}

.contacts__map {
  max-width: 560px;
  margin-right: 100px;
  width: 52%;
  display: block;

  @media (max-width: $desktop-width) {
    width: 50%;
    margin-right: 47px;
    max-width: 324px;
    height: 335px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
    max-width: 290px;
    height: 316px;
  }
}

.contacts__wrap p {
  margin: 0;
  padding-top: 71px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;

  @media (max-width: $desktop-width) {
    padding-top: 68px;
    margin-bottom: 27px;
    max-width: 324px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.contacts__wrap address {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 22px;
  padding-left: 28px;

  @media (max-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.contacts__address br {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.contacts__wrap a {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: $main-blue;
  text-transform: none;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 36px;
}

.contacts__icon-mark {
  position: absolute;
  fill: $main-blue;
  left: 0;
  transform: translateY(25%);
}

.contacts__icon-phone {
  position: absolute;
  fill: $main-blue;
  left: 0;
}
