.journey__container {
  display: flex;
  padding-top: 121px;
  margin-bottom: 119px;

  @media (max-width: $desktop-width) {
    padding-top: 99px;
    margin-bottom: 53px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 68px;
    margin-bottom: 60px;
  }
}

.journey__wrapper h2 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 26px;

  @media (max-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 9px;
    width: 91%;
    margin-top: -10px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 63px;
  }
}

.journey__wrapper {
  max-width: 512px;
  margin-right: 88px;
  width: 50%;

  @media (max-width: $desktop-width) {
    max-width: 324px;
    margin-right: 30px;
  }

  @media (max-width: $tablet-width) {
    max-width: 290px;
    width: 100%;
  }
}

.journey__wrapper p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $desktop-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.journey__img {
  @media (max-width: $desktop-width) {
    min-width: 324px;
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    min-width: 290px;
    width: 100%;
  }
}
