.page-header {
  height: 650px;
  background: $bg-blue url("../img/header-bg-l.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;

  @media (max-width: $desktop-width) {
    height: 638px;
    background: $bg-blue url("../img/header-bg-m.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    height: 500px;
    background: $bg-blue url("../img/header-bg-s.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
  }
}

.page-header__intro {
  padding-left: 116px;

  @media (max-width: $desktop-width) {
    padding-left: 45px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 15px;
  }
}

.page-header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $light-grey;
  padding-bottom: 10px;

  @media (max-width: $desktop-width) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $tablet-width) {
    font-size: 36px;
    line-height: 45px;
  }
}

.page-header p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: $light-grey;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 22px;
    max-width: 70%;
  }
}
