.page-footer {
  background-color: $main-blue;
}

.page-footer__social-link svg {
  fill: $light-grey;
}

.page-footer__icon-logo {
  fill: $light-grey;
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    margin-right: 25px;
    width: 38px;
    height: 20px;
  }

  @media (min-width: $mobile-width) and (max-width: 600px) {
    width: 42px;
    height: 22px;
  }
}

.page-footer__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    flex-direction: column;
    padding-top: 40px;
  }
}

.page-footer__nav-list {
  display: flex;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    flex-direction: column;
  }
}

.page-footer__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;

  @media (max-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $mobile-width) and (max-width: 600px) {
    flex-direction: column;
    padding-top: 30px;
  }
}

.page-footer__social-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  align-items: flex-end;

  @media (max-width: $tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: $mobile-width) and (max-width: 600px) {
    margin-top: 7px;
  }
}

.page-footer__item {
  @media (min-width: $mobile-width) and (max-width: 600px) {
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.page-footer__item a {
  color: $light-grey;
  margin-right: 33px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: $bg-blue;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 15px;
    margin-right: 23px;
  }
}

.page-footer__socal-icon-twt {
  @media (max-width: $tablet-width) {
    width: 16px;
    height: 13px;
  }
}

.page-footer__social-link svg:hover {
  fill: $bg-blue;
}

.page-footer__social-list .page-footer__social-item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 23px;
  }
}
