// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$white: #ffffff;
$black: #000000;
$main-blue: #011c40;
$bg-blue: #5496bd;
$light-grey: #f9fbfd;
// $bg-grey: #E5E5E5;
